<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="container-fluid  main_content">

                    <form class="temp_form ">

                        <input type="text" id="cityName" placeholder="Enter your city name.." autocomplete="off">
                        <br>
                        <input type="submit" value="search" id="submitBtn">
                        <p id="temp_err"></p>
                    </form>

                    <div class="tempInformation  ">
                        <div class="top_layer">
                            <p id="day">Tuesday</p>
                            <p id="today_date">13 oct</p>
                            <p id="time007">06:16pm</p>
                        </div>
                        <div class="main_layer ">
                            <p id="city_name">Get output here </p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
       {{>footer}}
    </footer>

    <script src="js/main.js"></script>
    <script>
        const date1=document.getElementById('today_date');
        const day1=document.getElementById('day');
        const time007=document.getElementById('time007');
        function myFunction() {
        var d = new Date();
        var n = d.getDate();
        return n;
        };

        const getCurrentDay = () => {
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tue";
        weekday[3] = "Wed";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        let currentTime = new Date();
        let day = weekday[currentTime.getDay()];
        return day;
         };

            const getCurrentTime = () => {
                var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "June",
                "July",
                "Aug",
                "Sept",
                "Oct",
                "Nov",
                "Dec",
                ];

                    var now = new Date();
                    var month = months[now.getMonth()];
                    var date = now.getDate();
                    return `${month} ${date} `;
                };
                    timer();

                    function timer(){
                    var currentTime = new Date()
                    var hours = currentTime.getHours()
                    var minutes = currentTime.getMinutes()
                    if (minutes < 10){
                        minutes = "0" + minutes
                    }
                    if(hours>12){
                        hours-=12;
                    };
                    var t_str = hours + ":" + minutes + " ";
                    if(hours > 11){
                        t_str += "AM";
                    } else {
                    t_str += "PM";
                    }
                     
                    time007.innerHTML = t_str;
                    setTimeout(timer,1000);
                    };
                date1.innerHTML=getCurrentTime();
                day1.innerHTML=getCurrentDay();
    </script>
</body>

</html>